Flask==2.1.1
streamlit==1.14.0
tensorflow==2.11.0
keras==2.11.0
scikit-learn==1.0.2
pandas==1.5.1
numpy==1.23.3
matplotlib==3.5.1
luma.oled==1.15.0
boto3==1.24.2
RaspberryPi.GPIO==0.7.0
Adafruit-ADS1x15==1.1.8
MAX30100==1.0.4
pi_aws_s3==0.0.5
psycopg2
